<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalseBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerDeslogueado") %> 
    <main>
        <div class="uk-section ll">
            <div class="uk-container">
                <h2 class="logeate">Logeate!</h2>
                    <form action="/login/logueado" method="POST">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="contraseña">
                        </div>
                        <div class="form-group">
                            <div class="recordar">
                            <input class="checkbox" type="checkbox" name="remember">
                            <label for="">Recordar mi usuario y contraseña</label>
                            </div>
                        </div>
                        <div class="button">
                            <button type="submit">Logueame</button>
                        </div>
                        <h2 class="yatenes">¿No tenés cuenta? <a href="/registracion/" ><h2 class="yatenes"> Resgistrate</h2></a></h2></a>
            </div>
        </div>
    </main>

    <%- include("footer") %> 

</body>

</html>