<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalseBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/registracion.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerDeslogueado") %> 
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">

                    
                    <h2 class="tituloregistro">Registrate!</h2>
                    <form action="/registracion/registrado" method="POST">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="date" name="nacimiento" placeholder="Fecha de Nacimiento">
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Constraseña">
                        </div>
                        <div class="form-group">
                            <p class="preguntaSeguridad">Pregunta de Seguridad</p>
                            <select name='preguntaElegida' id="">
                                <option value="1">Color favorito</option>
                                <option value="2">Pais favorito</option>
                                <option value="3">Nombre de primer perro</option>
                            </select>
                            <input type="text" name='preguntaRespuesta'>
                        </div>
                        <div class="button">
                            <button type="submit">Registrarme   </button>
                        </div>
                </form>
                <h2 class="yatenes">¿Ya tenés cuenta? <a href="/login/" ><h2 class="yatenes"> Logueate</h2></a></h2></a>
            </div>
        </div>
    </main>

    <%- include("footer") %> 


</body>

</html>