@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet');

.tituloregistro{
    font-family: 'Ranchers', cursive;;
    color: white;
}
.asd{
    text-align: center;
}
.form-group{
    margin-top: 15px;
}
button{
    margin-top: 15px;
}