@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet');
.fotopost{
    width: 300px;
    height: 360px;
    border-radius: 10px;
}
.asd{
    text-align: center;
}
.cambiale{
    font-family: 'Ranchers', cursive;
    color: white;
}
.textoActual{
    font-family: 'Ranchers';
    color: white;
}