@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet');
footer{
    height: 40px;
    color: white;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
    font-family: 'Ranchers', cursive;
}