@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet');

.logeate{
    font-family: 'Ranchers', cursive;
    text-align: center;
    color: white;
}

.form-group{
    text-align: center;
}
.recordar{
    display: grid;
    padding-right: 20%;
    padding-left: 20%;
    grid-template-columns: 1fr 8fr;
}
.button{
 text-align: center;
}
.uk-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

input{
    width: 400px;
    border-radius: 14px;
}
.yatenes{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
}