@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet');


.info-usuario .foto-perfil{
    border-radius: 50%;
    width: 200px;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
    font-family: 'Ranchers', cursive;
    font-size: 20px;
}
.muro .link-detalle{
    color: white;
    text-decoration: none;
}
.post{
    border-radius: 15px;
    height: 200px;
    width: 200px;

}
.NombrePerfil{
    margin-top: 10px;
    font-family: 'Ranchers', cursive;
    font-size: 50px;
    color: white
}