@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet');
main{
    padding-top: 5%;
}
.form-group{
    text-align: center;

}
.tituloregistro{
    font-family: 'Ranchers', cursive;;
    color: white;
    text-align: center;
}
.button{
    text-align: center;
}
.nacionalidad{
    margin-top: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: white;
}

input {
    width: 400px;
    border-radius: 14px;
    margin-top: 3%;
}
.yatenes{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
}