@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet');
h1{
    font-family: 'Ranchers', cursive;;
    color: white;
}
main{
    text-align: center;
    padding-top: 2%;
}
ul{
    list-style-type: none;
}
.fotos{
    border-radius: 50%;
    object-fit: cover;
    position: 100%;

    height: 100px;
    width: 100px;
}